<section>
  <div
    class="about__content"
    style="background-image: url('images/bg-image.png')"
  >
    <img id="float" src="images/bug.png" alt="" />
    <p style="font-size: 1.5em">{{ tag }}</p>
    <div class="about__header">
      <h2>Mahmoud Srouji</h2>
      <p>Frontend Engineer</p>
    </div>
    <p>
      I'm passionate about transforming pixel-perfect templates into
      interactive, high-performance web experiences. I specialize in Angular,
      TypeScript, and modern UI development to create fast, smooth, and
      accessible interfaces that never compromise on design or detail.
    </p>
    <p>
      With a keen eye for design trends and a love for smooth animations, I stay
      up to date with the latest tools and techniques. My focus on
      responsiveness and accessibility means every site works seamlessly,
      everywhere, for everyone.
    </p>
    <div class="skills">
      <h3>Primary Tech Stack</h3>
      <ul>
        <li>Angular</li>
        <li>JavaScript / TypeScript</li>
        <li>HTML5 / CSS3</li>
      </ul>
    </div>
    <p class="personal-touch">
      Problem-solving keeps things interesting, and I enjoy exploring how users
      interact with digital products—finding smarter ways to make their journeys
      intuitive, engaging, and enjoyable.
    </p>
  </div>

  <div class="code-drop-container">
    @for(s of codeSnippets; track s) {
    <span
      class="code-snippet"
      [ngStyle]="{
        color: s.color,
        left: s.left,
        top: s.top,
        animationDelay: s.delay,
        '--rotation': s.rotation
      }"
    >
      {{ s.text }}
    </span>
    }
  </div>
</section>
