<section>
  <div
    class="about__content"
    style="background-image: url('images/bg-image.png')"
  >
    <img id="float" src="images/bug.png" alt="" />
    <p style="font-size: 1.5em">{{ tag }}</p>
    <h2>About Me</h2>
    <p>
      I'm Mahmoud Srouji, a frontend engineer who builds sleek, responsive, and
      perfomance-driven websites using Angular, TYpescript, and modern web
      tools. Im in love with the idea of turing templates alive
    </p>
    <p>
      My focus is on crafting interactive and accessible user experiences that
      feel effortless to use. Whether it's implementing smooth animations,
      fine-tuning layouts for responsiveness, or optimizing performance, I pay
      attention to the small details that make a big difference.
    </p>
    <div class="skills">
      <h3>Primary Tech Stack</h3>
      <ul>
        <li>Angular</li>
        <li>JavaScript / TypeScript</li>
        <li>HTML5 / CSS3</li>
      </ul>
    </div>
    <p class="personal-touch">
      Outsitde of code, I'm always exploring new desgin trends and frameworks,
      tweaking my own projects, or learing something new. I enjoy solving
      problems and understanding how users interact with technology.
    </p>
  </div>

  <div class="code-drop-container">
    <span
      *ngFor="let s of codeSnippets"
      class="code-snippet"
      [ngStyle]="{
        color: s.color,
        left: s.left,
        top: s.top,
        animationDelay: s.delay,
        '--rotation': s.rotation
      }"
    >
      {{ s.text }}
    </span>
  </div>
</section>
