<nav class="nav bg-color">
  <a routerLink="/"
    ><img src="images/personal-logo.png" class="logo" alt="Mahmoud Srouji"
  /></a>

  <button class="hamburger" (click)="toggleMenu()" aria-label="Toggle menu">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <ul [class.active]="menuOpen" class="nav__list">
    <li class="nav__item">
      <a
        class="nav__link"
        (click)="toggleMenu()"
        routerLink="/"
        [routerLinkActive]="'active-link'"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>
    <li class="nav__item">
      <a
        class="nav__link"
        (click)="toggleMenu()"
        [routerLink]="'/about'"
        [routerLinkActive]="'active-link'"
        >About</a
      >
    </li>
    <li class="nav__item">
      <a
        class="nav__link"
        (click)="toggleMenu()"
        [routerLink]="'/profession'"
        [routerLinkActive]="'active-link'"
        >Profession</a
      >
    </li>
    <li class="nav__item">
      <a
        class="nav__link"
        (click)="toggleMenu()"
        [routerLink]="'/projects'"
        [routerLinkActive]="'active-link'"
        >Projects</a
      >
    </li>
  </ul>
</nav>
