/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-font: "Poppins", sans-serif;
  --accent-font: "Fira Code", monospace;
  --oxford-blue: hsl(216, 65%, 11%);
  --aquamarine: hsl(191, 77%, 41%);
  --periwinkle: hsl(226, 70%, 88%);
  --cool-gray: hsl(225, 20%, 61%);
  --rich-black: hsl(216, 86%, 6%);
}

body {
  font-family: var(--main-font);
  color: var(--cool-gray);
  min-height: 100vh;
  background-color: var(--oxford-blue);
  font-size: 1rem;
}

h1 {
  color: #ffffff;
}

.code-text {
  font-family: var(--accent-font);
}

img {
  display: block;
  max-width: 100%;
}

.nav__link {
  text-decoration: none;
  color: var(--periwinkle);
}

.active-link {
  text-decoration: none;
  color: var(--aquamarine);
}
