<section class="bg-color">
  <div class="box">
    <div class="hero">
      <img src="my-image.jpg" class="self-image" width="400px" alt="" />
      <div class="hero-text">
        <h1 class="typewriter">{{ displayedText }}</h1>

        <p>Frontend Engineer building creative and sleek web experiences.</p>
        <div class="btn-group">
          <a
            class="btn"
            routerLink="/projects"
            routerLinkActive="router-link-active"
          >
            View My Projects
          </a>
          <a class="btn" href="https://wa.me/96176745448" target="_blank"
            >Whats App</a
          >
        </div>

        <div class="icon-group">
          <a href="https://github.com/MahmoudSr" target="_blank"
            ><img class="icon" src="github-icon.svg" alt=""
          /></a>
          <a href="https://www.linkedin.com/in/mahmoudsrouji" target="_blank"
            ><img class="icon" src="linkedin-icon.svg" alt=""
          /></a>
        </div>
      </div>
    </div>

    <div class="web-icons">
      <img src="angular-icon.svg" alt="" class="icons" />
      <img src="typescript-icon.svg" alt="" class="icons" />
      <img src="html-icon.svg" alt="" class="icons" />
      <img src="css-icon.svg" alt="" class="icons" />
    </div>
  </div>
</section>
